*{
  margin: 0 auto;
}

li{
  list-style: none;
}

.reghead{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large;
  font-family:  sans-serif;
}

.loghead{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large;
  font-family:  sans-serif;
}

.loginBGimage{
  background-image: url('/src/assets/Foundation\ Unity-Cropped.jpg');
  background-size: cover;
  height: 100vh;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: hsl(200, 3%, 79%);
}

.regBGimage{
  background-image: url('/src/assets/Foundation\ Unity-Cropped.jpg');
  background-size: cover;
  height: 100vh;
  /* padding: 10px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: hsl(200, 3%, 79%);
}

.login{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  background-color: maroon;
  border: 3px solid yellow;
  border-radius: 75px;
  color: rgb(165, 155, 61); 
  height: 500px;
  margin: auto;
}

.register{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  background-color: maroon;
  border: 3px solid yellow;
  border-radius: 75px;
  color: rgb(165, 155, 61);
  height: 500px;
  margin: auto;
}

#regLoginBtn{
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 25px;
  background-color: lightyellow;
}

#regLoginHomeBtn{
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 25px;
  background-color: lightyellow;
}

#regLoginBtn:hover, #regLoginHomeBtn:hover{
  background-color: yellow;
}

.registerPage{
  background-image: url('/src/assets/Foundation\ Unity-Cropped.jpg');
  background-size: cover;
    height: 100vh;
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: hsl(200, 3%, 79%);
}

.registerTitle{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
  text-decoration: underline;
}

.loginTitle{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
  text-decoration: underline;
}

.email{
  font-size: 30px;
}

.password{
  font-size: 30px;
}

/* button{
  background-color: hsl(60, 92%, 85%);
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
} */

#btn2 :hover{
  background-color: yellow;
}

.nameInput{
  display: flex;
  padding: 10px;
  border-radius: 15px;
}

.emailInput{
  display: flex;
  padding: 10px;
  border-radius: 15px;
}

.passwordInput{
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.error-Success{
  margin-bottom: 20px;
}

.Reg-Login-Home{
  display: flex;
  gap: 20px;
}

.error{
  margin-bottom: 20px;
}

form{
  margin-top: 60px;
}

form div{
  margin-bottom: 15px;
}
.addEventTitle{
  display: flex;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}
.addEventDescription{
  display: flex;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}
.addEventLocation{
  display: flex;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}
.addEventDate{
  display: flex;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}
#cancelB{
  margin: 20px;
  padding: 15px;
  border-radius: 35px;
  font-size: 18px;
  background-color: lightyellow;
}
#cancelB:hover{
  background-color: yellow;
}

.form1{
  
}