

.attendanceBGimage{
    background-image: url('/src/assets/Foundation\ Unity-Cropped.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    overflow: auto; 
}