.welcomeC{
  padding: 30px;
  display: flex;
  align-items: center;
  width: '100vh';
  color: black;
  }

  .welcomeCButton{
      margin-right: 0;
      display: flex;
      gap: 20px;
  }

  .eventWrapper{
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid yellow;
    background-color: #b45353;
    width: 75%;
    display: flex;
    align-items: center;
  }

  .userWrapper{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid yellow;
    border-radius: 75px;
    background-color: #b45353;
    width: 50vw;
    font-size: 20px;
  }

  .viewEvents{
    display: flex;
    align-items: center;
  }

  .viewUsers{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .userDetails{
    margin-left: 50px;
  }
  .deleteBtn{
    margin: 25px;
    margin-right: 50px;
  }

  .attendanceBtns button{
    padding: 15px;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    background-color: lightyellow;
    margin: 10px 6px;
  }

  .attendanceBtns{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    font-family: calibri;
    font-weight: bold;
  }

.attendanceBtns button:hover{
  background-color: yellow;
}

.Hp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.eventList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.userList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adds spacing below the filter bar */
}

.filterInput {
  padding: 8px;
  width: 50%; /* Adjust width as needed */
  max-width: 400px; /* Optional: restrict maximum width */
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center; /* Centers placeholder text */
}

.userBGimage{
  background-image: url('/src/assets/Foundation\ Unity-Cropped.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}

.congregantBGimage{
  background-image: url('/src/assets/Foundation\ Unity-Cropped.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}

.userHead{
  padding: 30px;
  display: flex;
  align-items: center;
  width: '100vh';
  color: black;
}

#btn2{
  padding: 15px;
  border-radius: 35px;
  font-size: 18px;
  background-color: lightyellow;
}
#btn2:hover{
  background-color: yellow;
}

#deleteUser{
  border-radius: 35px;
  font-size: 20px;
  border:  2px solid yellow;
  background-color: red;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
#deleteUser:hover{
  background-color: rgb(245, 147, 147);
}

.eventItemC{
  margin-left: 50px;
  font-family: calibri;
}