.footAboutBox{
    display: flex;
    background-color: brown;
}

.aboutBoxMiddle{
    /* flex: 2; */
    justify-content: center;
    align-items: top;
    /* background-image: url('/src/assets/worship.jpg'); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    color: white;
    /* Allow vertical scrolling */
    overflow-y: auto; /* Enables scrolling when needed */
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: brown;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.leftBox{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.rightBox{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.footHeader{
    padding: 20px;
}

.heading{
    color: yellow;
}

.moreAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 10vh;
    background-color: brown;
    color: white;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image{
    width: 200px;
    height:200px;
}