.footAboutBox{
    display: flex;
    background-color: yellow;
}

.aboutBoxMiddle{
    flex: 2;
    justify-content: center;
    align-items: top;
    background-image: url('/src/assets/worship.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* Allow vertical scrolling */
    overflow-y: auto; /* Enables scrolling when needed */
    text-align: center;
}

.leftBox{
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.rightBox{
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.footHeader{
    padding: 20px;
}

.heading{
    color: yellow;
}

.copyRight{
    height: 10vh;
    background-color: black;
    color: white;
}