.head{
  margin-bottom: 300px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font-family:  sans-serif;
  background-color: white;
}

#btn-, #btn--, #btn---, #btn----{
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 25px;
  background-color: lightyellow;
}

#btn-:hover, #btn--:hover, #btn---:hover, #btn----:hover{
  background-color: yellow;
}

.hHeading{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: large;
}