
.welcomepage {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  flex-direction: column; /* Stacks elements vertically */
  height: 100vh;
  width: 100vw; /* Fix width issue */
  background-image: url('/src/assets/worship.jpg');
  background-size: cover;
  background-color: hsl(200, 3%, 79%);
}


  #btn1{
    background-color: yellow;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }
  .buttons :hover{
    color:brown;
    transform: scale(1.1);
  }

  #btn2{
    background-color: yellow;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }


  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutModal{
    margin-top: 30px;
    justify-content: center;
    align-items: top;
    height: 50vh; /* Full height of viewport */
    width: 50vw;  /* Full width of viewport */
    background-color: #ffffff;
    border: 3px solid yellow;
    border-radius: 15px;
  }

  .heading{
    color: yellow;
  }