
.welcomepage {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column; 
  height: 80vh;
  width: 100vw; 
  background-image: url('/src/assets/worship.jpg');
  background-size: cover;
  background-color: hsl(200, 3%, 79%);
}


  #btn1{
    background-color: yellow;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }
  .button1 :hover{
    color:brown;
    transform: scale(1.1);
  }
  .button2 :hover{
    color:brown;
    transform: scale(1.1);
  }

  #btn2{
    background-color: yellow;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }


  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .heading{
    color: yellow;
  }